Package: enigma2-plugin-extensions-foreca
Version: 3.3.6
Description: Weather forecast for the upcoming 10 days
Section: extra
Priority: optional
Maintainer: Bauernbub
Architecture: all
OE: enigma2-plugin-extensions-foreca
Homepage: http://forums.openpli.org/topic/101039-foreca-work-on-pli/
Source: https://github.com/E2OpenPlugins/e2openplugin-Foreca
