Package: enigma2-plugin-extensions-foreca
Version: 3.3.5
Description: Weather forecast for the upcoming 10 days
Section: extra
Priority: optional
Maintainer: Bauernbub
Architecture: all
OE: enigma2-plugin-extensions-foreca
Homepage: http://openpli.org/forums/topic/25848-foreca-weather-plugin-problem/
Source: *
